<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842196816948-em47fgdia2guds7apog8ri0nv3ho3ajf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842196816948-em47fgdia2guds7apog8ri0nv3ho3ajf</string>
	<key>API_KEY</key>
	<string>AIzaSyCMKFE6vnwwDsgZCRkf0pTnPqwG4PNfkBE</string>
	<key>GCM_SENDER_ID</key>
	<string>842196816948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thefullbellyprojectApp</string>
	<key>PROJECT_ID</key>
	<string>the-fullbelly-project</string>
	<key>STORAGE_BUCKET</key>
	<string>the-fullbelly-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842196816948:ios:3108f484a0c98ace3de661</string>
</dict>
</plist>